modLoader="javafml"
loaderVersion="[2,)"
license="${license}"
issueTrackerURL="${issues}"

[[mods]]
modId="${id}"
version="${version}"
displayName="${name}"
authors="Furq"
description='''${description}'''
logoFile="assets/${id}/icon.png"

[[dependencies.${id}]]
modId="neoforge"
type="required"
versionRange="[${forgeConstraint}"
ordering="NONE"
side="CLIENT"

[[dependencies.${id}]]
modId="minecraft"
type="required"
versionRange="[1.20.5,1.21.4]"
ordering="NONE"
side="CLIENT"

[[mixins]]
config="${id}.mixins.json"

[[accessTransformers]]
file="META-INF/accesstransformer.cfg"